.table {
    display: flex;
    grid-gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px #b6b6b6;
    flex-direction: column;
    background: #7cd6c9;
}

.table__item a {
  text-decoration: none;
}

.table__item span {
  border: none;
  color: black;
}
